@font-face {
    font-family: 'Ruslan Display';
    src: local('RuslanDisplay'), url('ruslandisplay.woff2') format('woff2'), url('ruslandisplay.woff') format('woff'), url('ruslandisplay.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
